/** 
 * Color Reference
 * Green: #4ddb49
 * Blue: #00a5f5
 * Pink: #FF59FF
 * Dark Blue: #004e72
*/
#li3-perf-toolbar
{
	color: #fff;
	width: 100%;
	display: block;
	position: relative;
	top: 0;
	padding: 0;
	margin: 0;
	font-family: 'Arial', sans-serif;
	border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: auto;
	line-height: 20px;
}

#li3-perf-toolbar-content-wrapper {
	padding: 4px;
	background-color: #AAAAAA;
}

#li3-perf-content
{
	padding: 10px;
	background-color: #EEEEEE;
	color: #000000;
	display: none;
}

#li3-perf-content > div
{
  display: none;
}

#li3-perf-content h2 {
	color: #00a5f5;
	font-size: 14px !important;
	border-bottom: 1px solid #CCCCCC;
	margin: 0px;
	line-height: 40px !important;
	font-weight: bold;
}

#li3-perf-toolbar-links {
	float: right;
	margin-right: 5px;
}

#li3-perf-toolbar-links a {
	display: block;
	float: left;
	margin: 0 4px 0 4px;
	font-weight: normal;
}

a.li3-perf-link
{
	color: #fff;
}
a.li3-perf-link:hover
{
  color: #00a5f5;
}

a.li3-perf-link.active,
a.li3-perf-link.active:hover
{
  color: #93FF00;
  text-decoration: underline;
}
a.li3-perf-link.active:hover
{
  text-decoration: none;
}
a.li3-perf-link img {
	width: 16px;
	display: inline;
	float: left;
	margin-right: 4px;
}

/* Content */
#li3-perf-vars, #li3-perf-log, #li3-perf-timing, #li3-perf-queries {
	display: none;
}

span.li3-perf-stat-value {
	font-weight: bold;
	font-size: 14px;
	color: #FF59FF;
}

#li3-perf-queries table
{
  width: 100%;
}
#li3-perf-queries table tr
{
  border: 1px solid #C9C2C2;
  background-color: #FFFFFF;
}

#li3-perf-queries table tr td
{
  font-size: 10px;
  padding: 2px;
  padding-bottom: 10px;
}

#li3-perf-queries table tr:nth-of-type(odd) td
{
  background-color: #6087B0;
  color: #FFFFFF;
  padding-bottom: 2px;
  border: 1px solid #FFFFFF;
}

#li3-perf-queries table tr td pre
{
  white-space: pre-wrap !important;
  font-size: 11px !important;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 4px;
  padding: 5px;
  margin-bottom: 2px;
}